/* Author: Len Feremans
   Simple css */
  
/* for visualisation */
.stopword {
   color: #C4C4C4;
}
.lowsupport {
   color: #A4A4A4;
}
.focus{
   background-color: #FDE4AE;
}

.selectedpattern{
   background-color: #99A8FF;
}


/* applicable to all div elements that have class borderme */
div.borderme{
	border: 1px solid darkgrey; 
	padding:10px;
	padding-bottom: 20px;
}
/* applicable to div with class header */
div.header{
	background-color:  #fefefe;
	width:100%; 
	height:35px; 
	padding: 2px;
	margin: 2 px;
	margin-bottom: 20px;
}
/* used absolute position relative to bottom-left */
div.footer{
	background-color:  white;
}

input {
    width: 100%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
