<div class="fixed-bottom footer row">
    <div class="col-md-6 text-left">
        &copy; Len Feremans &ndash; 2018  &ndash; <span style="color: #DEDEDE">Version 0.5</span>
    </div>
    <div class="col-md-6 text-right">
        <img src="{{ url_for('static',filename='ua_logo.png') }}" style="height:40px;"/>
    </div>
</div>
