<script>
        $(document).ready(function() {	
             $("#checkbox-2").on("click", function(){
             	if($("#checkbox-2").prop('checked')){
             		  $("#min_or_row").show()
             	 }
             	 else{
             	 	$("#min_or_row").hide()
             	 }
             })
             $("#checkbox-3").on("click", function(){
             	if($("#checkbox-3").prop('checked')){
             		  $("#min_por_row").show()
             	 }
             	 else{
             	 	$("#min_por_row").hide()
             	 }
             })
             $("#checkbox-4").on("click", function(){
             	if($("#checkbox-4").prop('checked')){
             		  $("#conf_row").show()
             	 }
             	 else{
             	 	$("#conf_row").hide()
             	 }
             })
        });
</script>
            
<form method="post" action="/mine">
	<!-- see https://getmdl.io/components/index.html#textfields-section -->
	<input type="hidden" id="txt_key" name="txt_key"/>
	
	<div class="row">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-9]+" id="support" name="minsup"/>
			<label class="mdl-textfield__label" for="support">Minimum support</label>
			<span class="mdl-textfield__error">Input is not valid!</span>
		</div>
	</div>
	<div class="row">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-9]+" id="maxsize" name="maxsize"/>
			<label class="mdl-textfield__label" for="support">Maximum length pattern</label>
			<span class="mdl-textfield__error">Input is not vali!</span>
		</div>
	</div>
	<div class="row">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-1]*(\.[0-9]+)?" id="mincoh" name="mincoh"/>
			<label class="mdl-textfield__label" for="support">Minimum cohesion</label>
			<span class="mdl-textfield__error">Input is not valid!</span>
		</div>
	</div>
	<div class="row">
		<!-- see https://getmdl.io/components/index.html#toggles-section -->
		<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
			<input id="checkbox-1" class="mdl-checkbox__input" type="checkbox" name="isItemset"/>
			<span class="mdl-checkbox__label">Itemsets</span>
		</label>
	</div>
	<div class="row">
		<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
			<input id="checkbox-2" class="mdl-checkbox__input" type="checkbox" name="isSp"/>
			<span class="mdl-checkbox__label">Dominant sequential patterns</span>
		</label>
	</div>
	<div class="row" style="display:none" id="min_or_row">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-1]*(\.[0-9]+)?" id="min_or" name="minOrSp"/>
			<label class="mdl-textfield__label" for="support">Minimal occurence ratio</label>
			<span class="mdl-textfield__error">Input is not valid!</span>
		</div>
	</div>
	<div class="row">
		<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
			<input id="checkbox-3" class="mdl-checkbox__input" type="checkbox" name="isEpi"/>
			<span class="mdl-checkbox__label">Dominant episodes</span>
		</label>
	</div>
	<div class="row" style="display:none" id="min_por_row">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-1]*(\.[0-9]+)?" id="min_por" name="minOrEpi"/>
			<label class="mdl-textfield__label" for="support">Minimal occurence ratio</label>
			<span class="mdl-textfield__error">Input is not valid!</span>
		</div>
	</div>
	<div class="row">
		<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
			<input id="checkbox-4" class="mdl-checkbox__input" type="checkbox" name="isRul"/>
			<span class="mdl-checkbox__label">Rules</span>
		</label>
	</div>
	<div class="row" style="display:none" id="conf_row">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-1]*(\.[0-9]+)?" id="conf" name="conf"/>
			<label class="mdl-textfield__label" for="support">Minimal confidence </label>
			<span class="mdl-textfield__error">Input is not valid!</span>
		</div>
	</div>
	<div class="row"  id="split">
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" pattern="[0-9]*" id="split" name="split"/>
			<label class="mdl-textfield__label" for="support">Segments</label>
			<span class="mdl-textfield__error">Input is not valid!</span>
		</div>
	</div>
	<div class="row">
	</div>
	<div class="row">
		<input id="run" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="width:100px" type="submit" value="Run"/>
	</div>
</form>