<html>
<head>
	<title>{{app_data['app_name']}}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">
	
	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
    
  	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	
	<script>
		function load_dataset(key, f){
		    $.ajax({url: "/load_data/" + key, type: "GET", dataType: "json"}).done(f)
		}
		
		function render_dataset(data){
			$('#input_dataset_ta').text(data)
		}
		
		function populate_fci_form(parameters){
             console.log(parameters)
             for (var key in parameters) {
			    if (!parameters.hasOwnProperty(key))
			    		continue          
       			var input = $("input[name=" + key + "]")
       			if(input && input.attr('type') == 'checkbox'){
       				 input.prop('checked', parameters[key]);
       			}
       			else if(input){
       				 input.val(parameters[key])
       			}
       		}	 
		}
		
        $(document).ready(function() {	
             $("#trump").on("click", function(){
             	load_dataset('trump', render_dataset)
             	$('#txt_key').val('trump')
             })
             $("#species").on("click", function(){
             	load_dataset('species', render_dataset)
             	$('#txt_key').val('species')
             })
             $("#moby").on("click", function(){
             	load_dataset('moby', render_dataset)
             	$('#txt_key').val('moby')
             })
             var parameters = {{parameters | tojson}}
             populate_fci_form(parameters)
             if(parameters.hasOwnProperty('txt_key')){
             	load_dataset(parameters['txt_key'], render_dataset)
             }
        });
	</script>
      
</head>
<body>	
	{% include 'header.html' %}
	{% include 'navbar.html' %}
	{% include 'message.html' %}
    <div class="container-fluid">
    		<div class="row" style="height:40px">
    		
    		</div>
        <div class="row">
            <div class="col-md-6">
                <div class="smalltitle row text-left">
                    <div class="col"><h4>Input sequence<h4></div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="input_dataset">
                        		<textarea id="input_dataset_ta" style="width:100%; height:50%; border: 1px solid lightgrey; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"
                        		name="input_dataset" cols="25" rows="40"></textarea>
                        </div>
                    </div>
                </div>
                 <div class="row">
                 	<div class="col">
                 		<div class="btn-group" role="group" aria-label="Basic example">
  							<button id="trump" type="button" class="btn btn-secondary">Trump</button>
  							<button id="species" type="button" class="btn btn-secondary">Species</button>
  							<button id="moby" type="button" class="btn btn-secondary">Moby</button>
						</div>
                 	</div>
                 </div>
            </div>
            <div class="col-md-6">
                <div class="smalltitle row">
                    <div class="col"><h4>Mine patterns</h4></div>
                </div>
                {% include 'form_fci.html' %}
            </div>
        </div>
    </div>
    
    {% include 'footer.html' %}   
</body>
</html>
