<!-- Modal -->
<script>
        $(document).ready(function() {	
             var messageLength = {{message | length}}
             if(messageLength != 0)
             {
             	$('#mymodal').modal('show');
             }
        });
</script>
      
<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="mymodalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mymodalLabel">An error has occurred</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {% if message is defined %}
      	<pre style="width:100%; height:50%; border: 1px solid lightgrey; background: #F4F5F7; font-family: SFMono-Medium,"SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace"
      	>{{message.replace("<","&lt;").replace(">","&gt;") | safe}}</pre>
	  {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>