<nav class="navbar navbar-light navbar-expand-lg  fixed-top bg-light">
		<a class="navbar-brand" href="#">{{app_data['app_name']}}</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Data</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="/mine">Patterns</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search"
				aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search
				</button>
		</form>
</nav>
