<html>
<head>
	<title>{{app_data['app_name']}}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">
	
	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
	
	<script src="{{ url_for('static',filename='PorterStemmer1980.js') }}"></script>
    
  	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

	
	<script>
		function render_patterns_table(data){
			var html = '<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mytab">'
			for(var i=0;i<data.length;i++){
				html += '<tr>'
				for(var j=0;j<data[i].length;j++){
					var tag = (i == 0)? 'th':'td'
					var clz = ''
					if(data[0][j] == 'itemset' || data[0][j] == 'sequential pattern' || data[0][j] == 'rule' || data[0][j] == 'episode'){
						clz =  ' class="mdl-data-table__cell--non-numeric" '
					}
					else{
						clz = ''
					}
					
					html += '<' + tag + clz + '>' + data[i][j] + '</' + tag + '>'
				}
				html += '</tr>'
			}
			html += '</table>'
			$('#patterns').html(html);
		}

		//see https://stackoverflow.com/questions/31756658/how-to-attach-events-to-table-checkboxes-in-material-design-lite 
		function debounce(func, wait, immediate) {
		    var timeout;
		    return function() {
		        var context = this, args = arguments;
		        var later = function() {
		            timeout = null;
		            if (!immediate) func.apply(context, args);
		        };
		        var callNow = immediate && !timeout;
		        clearTimeout(timeout);
		        timeout = setTimeout(later, wait);
		        if (callNow) func.apply(context, args);
		    };
		}
		
		var patterns = []
		
		
		function on_click(pattern, enable){
			if(pattern == null)
				return
			console.log(pattern,enable)
			//make item representation
			pattern = pattern.trim()
			pattern = pattern.replace(/\,/g,' ')
			pattern = pattern.replace(/\-/g,' ')
			pattern = pattern.replace(/\&gt\;/g,' ')
			if(enable){
				patterns.push(pattern)
			}
			else{
				var index = patterns.indexOf(pattern);
				if(index != -1){
					 patterns.splice(index, 1);
				}
			}
			update_sequence_paragraphs()
		}
				
		function update_sequence_paragraphs(){
			var items = {};
			if(patterns.length == 0){
				$('#sequence p').show()
				return
			}
			for(i=0;i<patterns.length;i++){
				var items_pattern = patterns[i].split(' ');
				for(j=0;j<items_pattern.length;j++){
					items[items_pattern[j]]=true
				}
			}
			var paragraphs = $('#sequence p')
			for(i=0; i<paragraphs.length; i++){
				var p = $(paragraphs[i])
				var show_paragraph = false
				var spans = p.children('span')
				for(j=0; j<spans.length; j++){
					var span_txt = $(spans[j]).html().toLowerCase()
					span_txt = stemmer(span_txt)
					if(span_txt in items){
						$(spans[j]).addClass('selectedpattern')
						show_paragraph = true
					}
					else{
						$(spans[j]).removeClass('selectedpattern')
					}
				}
				if(show_paragraph){
					p.show()
				}
				else{
					p.hide()
				}
			}
		}

		$(document).on("click", ".mdl-checkbox", debounce(function (e) {
	    		var isChecked = !$(this).hasClass("is-checked")
	    		var pattern = $(this).closest('tr').children('td').eq(1).html()
	    		on_click(pattern,isChecked)
			}, 50, true));

		
        $(document).ready(function() {
			var data = {{patterns | tojson}}
			render_patterns_table(data)
		})
	</script>
	
    <style>
.mytab{
	overflow-y:scroll;
    width: 100%;
    height: 70%;
    display:block;
    resize: both;
    overflow: auto;
}

.mytext{
	overflow-y: scroll; 
	height:75%;
}

    </style>
</head>
<body>	
	{% include 'header.html' %}
	{% include 'navbar.html' %}
	<div class="container-fluid">
		<div class="row" style="height:40px">
    		
    		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="smalltitle row text-left">
					<div class="col">
						<h4>Patterns</h4>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div id="patterns"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="smalltitle row text-left">
					<div class="col">
						<h4>Input sequence</h4>
					</div>
				</div>
				<div class="row">
					<div id="sequence" class="mytext">{{sequence_html | safe}}</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}   
</body>
</html
